language: python

python:
  - "2.7"
  - "2.6"

install:
  - "pip install -r requirements.txt"
  - "pip install pymongo==2.5"
  - "pip install pysqlite==2.6.0 sqlalchemy==0.9.4 alembic==0.6.4"

services:
  - mongodb

script: nosetests
