svg {
	background-color: #FFF;
	border: 1px solid #CCCCCC;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	cursor: crosshair;
}

path.link {
	fill: none;
	stroke: #000;
	stroke-width: 3px;
	cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,3;
	stroke: #003FB6;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

rect.node {
	stroke: #AAA;
	stroke-width: 2px;
	cursor: pointer;
}

rect.node.selected {
	stroke-width: 2px;
	stroke-dasharray: 10,3;
	stroke: #003FB6;
	fill: #9BB3E0;
}

.node.waiting {
	fill: #DDD;
}

.node.running {
	fill: #FA9F29;
	stroke: #C67409;
}

.node.complete {
	fill: #32cd32;
	stroke: #0D8D0D;
}

.node.failed {
	fill: #E05B57;
	stroke: #A11F1B;
}

p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #222;
	padding: 5px;
}


.node-object {
	cursor: pointer;
}
