.page-header h3 {
	display: inline-block;
}

.section-header {
	display: inline-block;
}

.right {
	text-align: right;
}

.btn-sequence {
	margin-right: 10px;
}

.btn-sequence-right {
	margin-left: 10px;
}

.page-header .right {
	float: right;
}

.page-header .status-waiting {
	color: grey;
}

.page-header .status-running {
	color: green;
}

.page-header .status-failed {
	color: red;
}

.task-failed {
	color: red;
}

textarea {
	width: 100%;
}

#schedule label {
	margin-top: -11px;
}

#table-toggle {
	float: right;
	margin-top: 18px;
}

td:last-child {
	width: 16%;
}

td > i {
	cursor: pointer;
	margin-left: 10px;
}
