.page-header h3 {
	display: inline-block;
}

.section-header {
	display: inline-block;
}

.right {
	text-align: right;
}

.btn-sequence {
	margin-right: 10px;
}

.btn-sequence-right {
	margin-left: 10px;
}

.page-header .right {
	float: right;
}

.page-header .status-waiting {
	color: grey;
}

.page-header .status-running {
	color: green;
}

.page-header .status-failed {
	color: red;
}
