span.waiting {
}

span.failed {
	color: red;
	font-weight: bold;
}

span.running {
	color: green;
}

h4.inline {
	display: inline-block;
}

form {
	display: inline-block;
	margin-left: 20px;
}

form button {
	margin-left: 20px;
}

td:last-child {
	width: 17%;
}

td > i {
	cursor: pointer;
	margin-left: 10px;
}
