{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/job_detail.css"></link>
<link rel="stylesheet" href="/static/css/job_graph.css"></link>
<script>
  var jobName = '{{ job.name }}';
</script>
{% endblock head %}

{% block content %}
<div class='page-header'>
  <h3>Job Detail: {{ job.name }}</h3>
  <h3 class='right status-{{ job.status }}'>{{ job.status|title }}</h3>
</div>

<div class='job-graph'>
</div>

<table class='table'>
  <thead>
    <th>Task</th>
    <th>Command</th>
    <th>Started</th>
    <th>Completed</th>
    <th>Result</th>
    <th>Task Detail</th>
  </thead>
  <tbody>
    {% for task in job.tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.command }}</td>
        <td>{{ task.started_at if task.started_at }}</td>
        <td>{{ task.completed_at if task.completed_at }}</td>
        <td>
          {% if task.success in [True, False] %}
            <span class={{ 'task-success' if task.success else 'task-failed' }}>
              {{ 'Success' if task.success else 'Failed' }}
            </span>
          {% elif task.success == None %}
          {% endif %}
        </td>
        <td>
          <button class='btn btn-primary' onclick="window.location.href = '{{ url_for('task_detail', job_id=job.job_id, task_name=task.name) }}';">View Task</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block body_scripts %}
<script src="/static/js/job_model.js"></script>
<script src="/static/js/job_graph.js"></script>
{% endblock body_scripts %}
