{% extends 'base.html' %}

{% block content %}
<div class='page-header'><h3>Job Detail: {{ job.name }}</h3></div>

<div class='graph'>
  <h4>Graph goes here</h4>
</div>

<table class='table'>
  <thead>
    <th>Task</th>
    <th>Started</th>
    <th>Completed</th>
    <th>Result</th>
    <th>Task Detail</th>
  </thead>
  <tbody>
    {% for task in job.tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.started_at if task.started_at }}</td>
        <td>{{ task.completed_at if task.completed_at }}</td>
        <td>
          {% if task.success in [True, False] %}
            <span class={{ 'task-success' if task.success else 'task-failed' }}>
              {{ 'Success' if task.success else 'Failed' }}
            </span>
          {% elif task.success == None %}
          {% endif %}
        </td>
        <td>
          <button class='btn btn-primary' onclick="window.location.href = '{{ url_for('task_detail', job_id=job.job_id, task_name=task.name) }}';">View Task</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
