{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/job_detail.css"></link>
<link rel="stylesheet" href="/static/css/job_graph.css"></link>

<script>
  var jobName = '{{ job.name }}';
</script>

<script id="tasks-table-template" type="text/x-handlebars-template">
  {% raw %}
    <tr data-task='{{ taskName }}'>
      <td data-attr='name'></td>
      <td data-attr='started_at' data-transform='datetime'></td>
      <td data-attr='completed_at' data-transform='datetime'></td>
      <td>
        <span data-attr='success' data-transform='class-success'></span>
      </td>
      <td>
        <button class='btn btn-primary' onclick="window.location.href = '{{ taskURL }}';">View Task</button>
        <button class='btn btn-danger task-delete' onclick="return false;"><i class='icon-trash'></i>
      </td>
    </tr>
  {% endraw %}
</script>

{% endblock head %}

{% block navbar_current %}
<li><a href='#'>Job Detail: {{ job.name }}</a></li>
{% endblock navbar_current %}

{% block content %}
<div class='page-header'>
  <h3>Job Detail: {{ job.name }}</h3>
  <h3 id='job-status' class='right'></h3>
</div>

<div id='graph-alert' class='alert hidden'>
</div>

<div class='job-graph'>
</div>

<div class='row' id='config'>
  <div class='span6'>
    <h3>Job Scheduling</h3>

    <div id='schedule-alert' class='alert hidden'>
    </div>

    <form id='schedule' class='form form-horizontal'>

      <div class='control-group'>
        <label class='control-label' for='cron-schedule'>Cron Schedule String<br />(M H DoM Mon DoW)</label>
        <div class='controls'>
          <input id='cron-schedule' type='text' class='input' value='{{ job.cron_schedule }}'></input>
        </div>
      </div>

      <div class='control-group'>
        <label class='control-label' for='next-run'>Next Scheduled Run<br />(local time)</label>
        <div class='controls'>
          <input id='next-run' type='text' class='input' disabled></input>
        </div>
      </div>

      <div class='control-group'>
        <div class='controls'>
          <button id='save-schedule' class='btn btn-success' onclick='return false;'>Save Schedule</button>
        </div>
      </div>

    </form>

  </div>
  <div class='span6'>
    <h3>Job State Control</h3>

    <div id='state-alert' class='alert hidden'>
    </div>

    <button id='start-job' class='btn btn-sequence btn-success'>Start Job From Beginning</button>
    <button id='retry-job' class='btn btn-sequence btn-success'>Retry Job from Failure</button>
    <br /><br />
    <button id='terminate-job' class='btn btn-sequence btn-warning'>Terminate Running Tasks</button>
    <button id='kill-job' class='btn btn-sequence btn-danger'>Kill Running Tasks</button>
  </div>
</div>

<h3>{{ job.name }}'s Tasks</h3>

<div id='table-alert' class='alert hidden'>
</div>

<table class='table'>
  <thead>
    <th>Task</th>
    <th>Started</th>
    <th>Completed</th>
    <th>Result</th>
    <th>Task Detail</th>
  </thead>
  <tbody id='tasks-body'>
  </tbody>
</table>

<div id='new-alert' class='alert hidden'>
</div>

<h3>Add New Task</h3>

<form class='form'>

  <label>Name</label>
  <input id='new-task-name' class='input-xxlarge' type='text' placeholder='Task Name'></input>

  <label>Command</label>
  <textarea id='new-task-command' rows="3" placeholder='Task Command'></textarea>

  <br />
  <button id='add-task' class='btn btn-success' onclick='return false;'>Add Task</button>

</form>

{% endblock content %}

{% block body_scripts %}
<script src="/static/js/job_model.js"></script>
<script src="/static/js/job_graph.js"></script>
<script src="/static/js/job_detail.js"></script>
{% endblock body_scripts %}
