{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/jobs.css"></link>
{% endblock head %}

{% block content %}

  <div class='page-header'><h3>Registered Jobs</h3></div>

  <table class='table table-striped'>
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Tasks</th>
      <th>Schedule</th>
      <th>Next Run</th>
      <th>Detail</th>
    </thead>
    <tbody id='jobs-body'>
      {% for job in jobs %}
        <tr data-job='{{ job.name }}'>
          <td data-attr='name'></td>
          <td><span data-attr='status' data-transform='class title'
                    class={{ job.status }}></span></td>
          <td data-attr='tasks' data-transform='length'></td>
          <td data-attr='cron_schedule'></td>
          <td data-attr='next_run' data-transform='datetime'></td>
          <td><button class='btn btn-primary' onclick="window.location.href = '{{ url_for('job_detail', job_id=job.job_id) }}';">View Job</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block body_scripts %}
  <script src="/static/js/jobs.js"></script>
{% endblock body_scripts %}
